.container {
    background-color: var(--white);
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        .logoText {
            font-size: 28px;
            margin: 0;
            padding: 0;
        }
    }

    .menu {
        display: flex;
        gap: 2rem;

        a {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .mobileMenu {
        display: none;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        padding: 1rem 4rem;
    }
}

.mobileMenuItems {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: all .5s ease-in-out;

    a {
        text-decoration: none;
        color: var(--black);

        &:hover {
            color: var(--primary-color);
            scale: 1.1;
        }
    }

    &.active {
        max-height: 100vh;
        padding: 1rem 0;
        transition: all .5s ease-in-out;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        .menu {
            display: none;
        }

        .mobileMenu {
            display: block;
        }
    }
}

@media screen and (min-width: 1281px) {
    .mobileMenuItems {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}