:root {
  --border-radius: 5px;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 24px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-48: 48px;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --white: #fff;
  --black: #000;
  --primary-color: #0000a5;
  --blue-1: #0000ff;
  --blue-2: #8080ff;
  --gray-1: #303030;
  --gray-2: #606060;
  --gray-3: #909090;
  --gray-4: #e0e0e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0 4rem;
  max-width: 100vw;
  overflow-x: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

input,
button {
  height: 3rem;
}

button {
  background-color: var(--blue-1);
  color: var(--white);
  font-family: inherit;
  font-size: var(--font-size-18);
  text-transform: uppercase;
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--primary-color);
  }
}

.button-secondary {
  background-color: var(--white);
  color: var(--blue-1);
  border: 1px solid var(--blue-1);

  &:hover {
    background-color: var(--primary-color);
    color: var(--white);
  }
}

.container {
  padding: 2rem 0;

  & > *,
  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem;
  }

  .font-48-500 {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-500);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
