.container {
	.intro {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		gap: 10rem;
		justify-content: space-between;

		.left {
			.introParagraph {
				color: var(--gray-3);
			}
		}
	}
}

@media screen and (max-width: 1024px) {
  .container {
    text-align: center;
    
    .intro {
      display: flex;
      flex-direction: column;

      .left {
        width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
      }

      .right {
        display: none;
      }
    }
  }
}