.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .card {
        background-color: var(--white);
        padding: 2rem;
        border-radius: var(--border-radius);
    }
}