.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .card {
        background-color: var(--white);
        box-shadow: 2px 2px 5px var(--gray-1);
        padding: 2rem;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: scale .3s;

        &:hover {
            scale: 1.05;
        }

        .details {
            .itemDetail {
                display: flex;
                align-items: center;
                gap: 1rem;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 968px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}