.container {
	.intro {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		gap: 5rem;
		justify-content: space-between;

		.right {
			.introParagraph {
				color: var(--gray-3);
			}

			.buttons {
					display: flex;
					gap: 2rem;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
  .container {
    text-align: center;
    
    .intro {
      display: flex;
      flex-direction: column;

			.left {
				display: none;
			}

      .right {
        width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
      }
    }
  }
}