.container {
	.intro {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		gap: 10rem;
		justify-content: space-between;

		.left {
            .pageTitle {
                color: var(--primary-color);
            }
			.requestForm {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;

                .formItem {
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;

                    input,
                    select {
                        font-size: var(--font-size-16);
                    }
                }
			}
		}
	}
}